.projects-container,
.choose-project {
    display: flex;
    gap: 1em;
}

.projects-container {
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.choose-project {
    justify-content: center;
}

.choose-project div {
    width: 15px;
    height: 15px;
    background-color: #48c3f4;
    border-radius: 50%;
}

.choose-project div:hover {
    cursor: pointer;
}