.technologies-container,
.icons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
}

.icons-top,
.icons-bottom {
    display: flex;
    gap: 1em;
}

.icons {
    align-items: center;
    justify-content: center;
}

.icons img {
    padding: 0.3em;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

@media (max-width:950px) {
    .technologies-container {
        padding: 1em 0;
    }
}

@media (max-width:330px) {
    .icons img {
        padding: 0.3em;
        border-radius: 10px;
        width: 20px;
        height: 20px;
    }
}