.introduction-container {
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

.link {
    text-decoration: none;
    color: #fefefe;
}

.link:hover {
    cursor: pointer;
    color: #48c3f4;
}